/* inter-100 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Inter";
	font-style: normal;
	font-weight: 100;
	src: url("/fonts/inter-v13-latin-100.woff2") format("woff2");
	/* src: url("./fonts/inter-v13-latin-100.woff2") format("woff2"); Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-200 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Inter";
	font-style: normal;
	font-weight: 200;
	src: url("/fonts/inter-v13-latin-200.woff2") format("woff2");
	/* src: url("./fonts/inter-v13-latin-200.woff2") format("woff2"); Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-300 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Inter";
	font-style: normal;
	font-weight: 300;
	src: url("/fonts/inter-v13-latin-300.woff2") format("woff2");
	/* src: url("./fonts/inter-v13-latin-300.woff2") format("woff2"); Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-regular - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Inter";
	font-style: normal;
	font-weight: 400;
	src: url("/fonts/inter-v13-latin-400.woff2") format("woff2");
	/* src: url("./fonts/inter-v13-latin-regular.woff2") format("woff2"); Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-500 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Inter";
	font-style: normal;
	font-weight: 500;
	src: url("/fonts/inter-v13-latin-500.woff2") format("woff2");
	/* src: url("./fonts/inter-v13-latin-500.woff2") format("woff2"); Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-600 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Inter";
	font-style: normal;
	font-weight: 600;
	src: url("/fonts/inter-v13-latin-100.woff2") format("woff2");
	/* src: url("./fonts/inter-v13-latin-600.woff2") format("woff2"); Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-700 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Inter";
	font-style: normal;
	font-weight: 700;
	src: url("/fonts/inter-v13-latin-700.woff2") format("woff2");
	/* src: url("./fonts/inter-v13-latin-700.woff2") format("woff2"); Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-800 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Inter";
	font-style: normal;
	font-weight: 800;
	src: url("/fonts/inter-v13-latin-800.woff2") format("woff2");
	/* src: url("./fonts/inter-v13-latin-800.woff2") format("woff2"); Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* inter-900 - latin */
@font-face {
	font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
	font-family: "Inter";
	font-style: normal;
	font-weight: 900;
	src: url("/fonts/inter-v13-latin-900.woff2") format("woff2");
	/* src: url("./fonts/inter-v13-latin-900.woff2") format("woff2"); Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
	--fs-smaller: 0.8rem;
	--fs-small: 1rem;
	--fs-medium: 1.1rem;
	--fs-large: 1.2rem;
	--fs-f: 10vh;
	--fs-rem: 1.5rem;
	--fw-rem: 700;
	--fw-medium: 300;

	--fc-black: rgba(0, 0, 0, 0.7);
	--fc-softblack: rgba(0, 0, 0, 0.9);
	--fc-darkgray: rgba(34, 40, 50, 1);
	--fc-darkgreyleight: rgba(34, 40, 50, 0.7);
	--fc-grey: rgba(119, 123, 133, 1);
	--lc-grey: rgba(119, 123, 133, 0.6);
	--shadow: rgba(119, 123, 133, 0.3);

	/* --bgc: #f1f4f6; */
	--bgc: #ffe8f8;
	--lc-home: #56a4c0;
	--lc-one: #ca4e8a;
	--lc-two: #ff6262;
	--lc-three: #f6995c;
	--lc-four: #9fc088;
}

@media (max-width: 427px) {
	:root {
		--fs-rem: 1rem;
		--fw-rem: 800;
		/* --fs-lg: 2.25rem; */
	}
}

:where(*) {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	height: 100vh;
	font-family: "Inter", sans-serif;
	line-height: 1.6;
	overflow-x: hidden;
	margin-top: 30px;
	background-color: var(--bgc);
	display: grid;
	grid-template-columns: 30% 5% 65%;
	grid-template-rows: auto;
	grid-template-areas:
		"header header header"
		"hero . main"
		/* ". . hr" */
		"hero . footer";
	/* "hero . ."; */
	/* gap: 1rem; */
	margin: 0;
	padding: 0;
}
header {
	grid-area: header;
	display: grid;
	/* max-width: 1400px; */
	grid-template-columns: 30% 5% 65%;
	flex-wrap: wrap;
	grid-template-rows: auto;
	grid-template-areas:
		"logo . nav"
		"logo . hhr"
		". . home-search";
	/* margin-left: 3rem; */
	/* margin-right: 3rem; */
	margin-top: 1.5rem;
	height: 1.2rem;
}

/* #hero {
	grid-area: hero;
	height: 65%;
	overflow: hidden;
	position: relative;
}

#hero img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center 65%;
	display: block;
} */

#hero {
	grid-area: hero;
	height: 100%;
	overflow: hidden;
	display: inline-block;
	position: static;
}

#hero img {
	width: 100%;
	height: 107%;
	/* max-width: 600px; or whatever size you want */
	aspect-ratio: 9 / 19; /* optional: modern way to lock ratio */
	/* background-image: url("./images/shaport.png"); */
	background-size: contain;
	background-repeat: no-repeat;
	/* background-position: center -45%; */
	object-fit: cover;
	object-position: center 80%;
	transform: scale(0.93);
	/* transform-origin: center; keeps it centered */
	display: block;
}

main {
	max-height: 50%;
	grid-area: main;
	/* margin-top: 7rem; */
	/* padding-left: 0.6rem; */
	/* padding-right: 10rem; */
}
body > hr {
	grid-area: hr;
	width: 100%;
	position: relative;
	align-self: self-start; /* or center, end as needed */
	justify-self: center; /* or center */
	/* display: flex; */
	/* flex-direction: column; */
	/* position: relative; */
	/* justify-self: right; */
}
footer {
	grid-area: footer;
	width: 100%;
	margin: 0;
	padding: 0;
	background: lightblue;
}

h2 {
	font-size: var(--fs-small);
	font-weight: var(--fw-rem);
	color: var(--fc-darkgreyleight);
}
h1 {
	font-size: var(--fs-small);
	color: var(--fc-softblacks);
}
h3 {
	font-size: var(--fs-medium);
	font-weight: var(--fw-rem);
}
h4 {
	font-size: var(--fs-medium);
	font-weight: var(--fs-medium);
}

.box {
	background-color: var(--bgc);
	border: 5px solid darkblue;
	width: 20vw;
	height: 20vh;
	/* font-size: var(--fs-rem); */
}

main p {
	width: 70%; /* Makes it stretch the full width of the parent */
	display: block; /* Default, but good to be explicit */
	text-align: justify; /* Optional: creates an edge-to-edge text look */
	font-size: var(--fs-small);
	font-weight: 300;
	color: var(--fc-darkgray);
	/* color: red; */
	word-wrap: break-word;
	margin: 0;
	padding: 0;
	/* max-width: 600px; */
	/* padding-right: 4rem; */
}

a {
	text-decoration: none;
	font-size: var(--fs-small);
	font-weight: 400;
	color: var(--fc-darkgray);
}

main {
	display: flex;
	flex-direction: column;
	grid-area: main;
	width: 100%;
	height: 50%;
	background: darkmagenta;
}

li {
	display: inline-block;
	color: var(--fc-darkgray);
}

.icon {
	height: 24px;
	width: 24px;
}

#logo-img {
	height: 30px;
	width: 30px;
}
.dot {
	width: 7px;
	height: 7px;
}
#logo {
	display: flex;
	width: 100%;
	flex-direction: row;
	gap: 6px;
	justify-content: center;
	align-items: center;
	justify-self: center;
	align-self: center;
	flex-wrap: wrap;
	/* justify-self: start; */
	grid-area: logo;
	font-size: small;
}

nav {
	grid-area: nav;
	width: 100%;
}
header hr {
	grid-area: hhr;
	/* width: 100%; */
}

.home-search {
	width: 20%;
	/* height: 1rem; */
	grid-area: home-search;
	display: flex;
	justify-self: right;
	align-self: center;
}
